.loading-frame {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:rgba(255, 255, 255, 0.8);
  z-index:1000;
  box-sizing:border-box;
}

.loading-frame {
  padding-top:100px;
  text-align:center;
}

.loading-frame .loading-icon {
  font-size:100px;
}

.loading-frame {
  transition:0.5s linear all;
}
