<!DOCTYPE html> 
<html data-ng-app="myApp">
  <head>
    <title>ngConf - Animations</title>
    <link rel="stylesheet" type="text/css" href="./assets/app.css" />
  </head>

  <body>
    <div id="wrapper">
      <nav id="header">
        <div class="container navigation">
          <h1 id="logo">Github-AngularJS</h1>
          <a class="nav-item" href="#!/">Home</a>
          <a class="nav-item" href="#!/gists">Gists</a>
          <button ng-if="false" ng-click="toggleAnimations()" class="disable-button">
            <span ng-show="animationsDisabled">Enable</span>
            <span ng-hide="animationsDisabled">Disable</span>
            Animations
          </button>
        </div>
      </nav>
      <main id="body" ng-controller="StageCtrl">
        <div ng-show="loadingRoute" class="loading-frame">
          <i class="fa fa-spinner fa-spin loading-icon"></i>   
        </div>
        <div ng-view class="view-item"></div>
      </main>
    </div>
    <script src="./assets/app.js"></script>
  <body>
</html>
